<!-- templates/CoreApp/index.html -->
{% extends 'base.html' %}

{% block title %}Inicio - Monitorización sistemas{% endblock %}

{% block content %}
    <h2 class="head_dash">AI Hosts Monitoring</h2>
    <hr>
       
    <div id="host">
        <div class="head_dashboard head_host">
            <h3>Server 1<span id="monitoring-indicator" class="indicator inactive"></span></h3>  </span>
            <div class="buttons section">
                <button class="btn btn-light btn-cyb-ai" onclick="detectAnomalies()">Detect Anomalies</button>
                <button class="btn btn-light btn-cyb-ai" onclick="fetchData()">Update Data</button>
                <button class="btn btn-light btn-cyb-ai" onclick="trainModel()">Train Model</button>
                <button class="btn btn-light btn-cyb-ai" onclick="viewAnomalyHistory()">View Anomaly History</button>
                <button class="btn btn-light btn-cyb-ai" onclick="adjustThresholds()">Adjust Thresholds</button>
                <button class="btn btn-light btn-cyb-ai toggle-monitoring-button" class="inactive" onclick="toggleRealTimeMonitoring()">Toggle Real-Time Monitoring</button>
            </div>
            <hr>
        </div>
        <div class="dashboard_panel" data-job="kali" data-instance="192.168.1.138:9100">      
            <div class="dashboard resumen" data-job="kali" data-instance="192.168.1.138:9100"> 
                <div style="color:aliceblue">
                    <h5>Metrics summary</h5>
                    <hr>
                    <p class="cpu" style="color: aliceblue;">CPU:</p>
                    <p class="ram">RAM:</p>
                    <p class="network">Network Traffic:</p>
                    <p class="disk">Disk:</p>
                </div>
            </div>

            <div class="dashboard" id="anomalies-section" data-job="kali" data-instance="192.168.1.138:9100">                 
                <h5>Anomalies Detected</h5>
                <hr>    
                <div id="anomalies-display">
                    <li><a href="{{ current_metrics_url }}" download>Download Current Metrics</a></li>
                    <li><a href="{{ historial_anomalias_url }}" download>Download Anomaly History</a></li>
                            </div>
            </div> 
                <div class="dashboard kali-dash"> 
                    <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=kali&var-node=192.168.1.138%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=3" frameborder="0"></iframe>
                </div>
                <div class="dashboard kali-dash">
                    <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=kali&var-node=192.168.1.138%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=24" frameborder="0"></iframe>    
                </div>
                <div class="dashboard kali-dash">
                    <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=kali&var-node=192.168.1.138%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=84" frameborder="0"></iframe>
                </div>
                <div class="dashboard kali-dash">
                    <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=kali&var-node=192.168.1.138%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=156" frameborder="0"></iframe>
                </div>          
        </div>
        <button onclick="toggleDashboard('kali-dash')">Minimize/Display</button>     
    </div>

    <script>
        const historial_anomalias = "{{ historial_anomalias|safe }}";

        if (historial_anomalias.length > 0) {
            let tableHtml = '<table><tr><th>CPU Usage</th><th>Memory Usage</th><th>Disk IO</th><th>Network IO</th></tr>';
            historial_anomalias.forEach(anomaly => {
                tableHtml += `<tr><td>${anomaly.cpu_usage}</td><td>${anomaly.memory_usage}</td><td>${anomaly.disk_io}</td><td>${anomaly.network_io}</td></tr>`;
            });
            tableHtml += '</table>';
            document.getElementById('anomalies-history-table').innerHTML = tableHtml;
        } else {
            document.getElementById('anomalies-history-table').innerHTML = '<p>No anomalies detected.</p>';
        }
  
    function toggleDashboard(host) {
        var dashboards = document.getElementsByClassName(host);
        for (var i = 0; i < dashboards.length; i++) {
            var dashboard = dashboards[i];
            if (dashboard.style.display === "none") {
                dashboard.style.display = "block";
            } else {
                dashboard.style.display = "none";
            }
        }
    }
    </script>

<script>
    function detectAnomalies() {
        $.ajax({
            url: '/ai/detect_anomalies/',
            method: 'GET',
            success: function (data) {
                if (data.error) {
                    $('#anomalies-display').html(`<span style="color: red;">Error: ${data.error}</span>`);
                } else {
                    //$('#anomalies-display').html(JSON.stringify(data.anomalies, null, 2));
                }
            },
            error: function (error) {
                console.log(error);
                $('#anomalies-display').html(`<span style="color: red;">Error: ${error.responseText}</span>`);
            }
        });
    }

    function fetchData() {
        $.ajax({
            url: '/ai/get_data/',
            method: 'GET',
            success: function (data) {
                if (data.error) {
                    $('#metrics-summary').html(`<span style="color: red;">Error: ${data.error}</span>`);
                } else {
                    $('#metrics-summary').html(JSON.stringify(data, null, 2));
                }
            },
            error: function (error) {
                console.log(error);
                $('#metrics-summary').html(`<span style="color: red;">Error: ${error.responseText}</span>`);
            }
        });
    }

    function trainModel() {
        $.ajax({
            url: '/ai/train_model/',
            method: 'GET',
            success: function (response) {
                if (response.error) {
                    alert(`Error: ${response.error}`);
                } else {
                    alert(response.status);
                }
            },
            error: function (error) {
                console.log(error);
                alert(`Error: ${error.responseText}`);
            }
        });
    }

    function viewAnomalyHistory() {
        $.ajax({
            url: '/ai/historial_anomalies/',
            method: 'GET',
            success: function (data) {
                if (data.error) {
                    $('#anomalies-history-display').html(`<span style="color: red;">Error: ${data.error}</span>`);
                } else {
                    let historyHtml = '<ul>';
                    data.historial.forEach(anomaly => {
                        historyHtml += `<li>${JSON.stringify(anomaly)}</li>`;
                    });
                    historyHtml += '</ul>';
                    $('#anomalies-history-display').html(historyHtml);
                }
            },
            error: function (error) {
                console.log(error);
                $('#anomalies-history-display').html(`<span style="color: red;">Error: ${error.responseText}</span>`);
            }
        });
    }

    function adjustThresholds() {
        // Lógica para ajustar los umbrales de detección de anomalías
    }
</script>


<!-- FUNCIONES PARA RECUPERAR MÉTRICAS, REGLAS Y ALERTAS -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dashboards = document.querySelectorAll('.resumen');
        const alerts = document.querySelectorAll('.alerts');
        const rules = document.querySelectorAll('.rules');

        
        
        function fetchMetrics_ne(dashboard, job, instance) {
            console.log(`Fetching metrics for instance: ${instance}`);
            fetch(`/prom/get_metrics_ne?job=${job}&instance=${instance}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(`Metrics data for instance ${instance}:`, data);
                    dashboard.querySelector('.cpu').innerText = `CPU: ${data.cpu.length > 0 ? parseFloat(data.cpu[0].value[1]).toFixed(3) + '%' : 'No data available'}`;
                    dashboard.querySelector('.ram').innerText = `RAM: ${data.ram.length ? parseFloat(data.ram[0].value[1]).toFixed(3) + '%' : 'No data available'}`;
                    dashboard.querySelector('.network').innerText = `Network: ${data.network.length ? parseFloat(data.network[0].value[1]).toFixed(3) + ' bytes/s' : 'No data available'}`;
                    dashboard.querySelector('.disk').innerText = `Disk: ${data.disk.length ? parseFloat(data.disk[0].value[1]).toFixed(3) + '%' : 'No data available'}`;
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    dashboard.querySelector('.cpu').innerText = 'Error cargando datos';
                    dashboard.querySelector('.ram').innerText = 'Error cargando datos';
                    dashboard.querySelector('.network').innerText = 'Error cargando datos';
                    dashboard.querySelector('.disk').innerText = 'Error cargando datos';
                });
                console.log(`Fetching metrics for host: ${host}`)
        }

        function fetchAlerts(dashboard, job, instance) {
            fetch(`/prom/get_alerts?job=${job}&instance=${instance}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    dashboard.querySelector('.alerta').innerText = 'No hay alertas';
                    dashboard.querySelector('.alerta').style.color="green";
                    if (data.alerts && data.alerts.length > 0) {
                        data.alerts.forEach(alert => {
                            if (alert.labels.job == host){
                                dashboard.querySelector('.alerta').innerText =`Job: ${alert.labels.job}, Severity: ${alert.labels.severity}, Instance: ${alert.labels.instance}`
                                if (alert.labels.severity === 'critical')
                                    dashboard.querySelector('.alerta').style.color="red";
                            }
                        });
                    } else {
                        dashboard.querySelector('.alerta').innerText = 'No hay alertas';
                    }      
                })
                .catch(error => {
                    console.error('Error fetching alerts:', error);
                    if(alerts) dashboard.querySelector('.alerta').innerText = 'Error cargando alertas';
                });
                console.log(`Fetching alerts for host: ${host}`) 
        }
        
        function fetchRules(dashboard, job, instance){
            fetch(`/prom/get_rules?job=${job}&instance=${instance}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })

                .then(data => {
                    console.log(`Rules data for host ${host}:`, data);
                    console.log("Regla ", data.rules[0])
                            if (data.rules && data.rules.length > 0) {
                                data.rules.forEach(rule => {
                                    dashboard.querySelector('.regla').innerText =`Name: ${rule.name}\n File: ${rule.file}\n Interval: ${rule.interval}`
                            });
                                   } else {
                                dashboard.querySelector('.regla').innerText = 'No hay reglas';
                            }
                
                })
                .catch(error => {
                    console.error('Error fetching rules:', error);
                    if(rules)  dashboard.querySelector('.rules .regla').innerText = 'Error cargando reglas';
                });
                console.log(`Fetching rules for host: ${host}`) 
        }

        dashboards.forEach(dashboard => {
            const instance = dashboard.getAttribute('data-instance'); 
            const job = dashboard.getAttribute('data-job');
            fetchMetrics_ne(dashboard, job, instance); // Realiza la primera solicitud inmediatamente
            setInterval(() => fetchMetrics(dashboard, job, instance), 60000); // Actualiza cada minuto               
        });

        alerts.forEach(dashboard => {
            const instance = dashboard.getAttribute('data-instance'); 
            const job = dashboard.getAttribute('data-job');       
            fetchAlerts(dashboard, job, instance); // Realiza la primera solicitud inmediatamente     
            setInterval(() => fetchAlerts(dashboard, job, instance), 60000); // Actualiza cada minuto
        });           

        rules.forEach(dashboard => {
            const instance = dashboard.getAttribute('data-instance'); 
            const job = dashboard.getAttribute('data-job'); 
            fetchRules(dashboard, job, instance); // Realiza la primera solicitud inmediatamente         
            setInterval(() => fetchRules(dashboard, job, instance), 60000); // Actualiza cada minuto
    
        });
    })
</script>


{%load static %}
<link  href="{% static 'js/toggle.js' %}">
<script src="{% static 'js/toggle.js' %}"></script>

{% endblock %}
