<!-- templates/CoreApp/index.html -->
{% extends 'base.html' %}

{% block title %}Inicio - Monitorización sistemas{% endblock %}

{% block content %}
    <h2 class="head_dash">Containers Monitoring</h2>
    <hr>

    <div id="host">
        <div class="head_dashboard head_host">
            <h3>App 1</h3>
            <div class="buttons">
                <button type="button" class="btn btn-light btn-cyb scanButton" onclick="callNmap(1)" disabled>Nmap</button>
                <button type="button" class="btn btn-light btn-cyb scanButton" onclick="callTshark(1)" disabled>Tshark</button>
                <select id="ipSelectNmap1" class="btn-cyb ipSelect" onchange="enableButtons()">
                    <option value="">--Select an IP--</option>
                    <option value="192.168.11.11">192.168.11.11</option>
                    <option value="192.168.12.11">192.168.12.11</option>
                    <option value="192.168.13.11">192.168.13.11</option>
                
                </select>
                <select id="ipSelectTshark1" class="btn-cyb ipSelect" onchange="enableButtons()">
                    <option value="">--Select an IP--</option>
                    <option value="192.168.11.11">192.168.11.11</option>
                    <option value="192.168.12.11">192.168.12.11</option>
                    <option value="192.168.13.11">192.168.13.11</option>
                </select>
                <hr>
                <div id="nmap-output1">
                    <!-- Aquí se mostrará la salida del escaneo de puertos -->
                </div>
                <div id="tsh-output1">
                        <!-- Aquí se mostrará la salida de Tshark -->
                </div>
            </div>
        </div>
    
        <div class="dashboard_panel" data-container="app1">
            
            <div class="dashboard resumen" data-container="app1"> 
                <div style="color:aliceblue">
                    <h5>Metrics summary</h5>
                    <hr>
                    <p class="cpu" style="color: aliceblue;">CPU:</p>
                    <p class="ram">RAM:</p>
                    <p class="network">Network Traffic:</p>
                    <p class="disk">Disk:</p>
                </div>
            </div>

            <div class="dashboard" data-container="app1">                 
                <h5>Alerts and rules</h5>
                <hr>
                <div class="alerts"style="color:aliceblue"data-container="app1">
                    <p class="alerta">Alerta</p>
                </div>
                <hr> 
                <div class="rules"style="color:aliceblue"data-container="app1"> 
                    <p class="regla"></p>
                </div>    
            </div> 
            <!-- <div class="sub-dashboard" id="kali-vm"> -->
                <div class="dashboard_cont kali-dash"> 
                    <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=1" frameborder="0"></iframe>                   </div>
                <div class="dashboard_cont kali-dash">
                    <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=4"  frameborder="0"></iframe>
                </div>
                <div class="dashboard_cont kali-dash">
                    <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=7" frameborder="0"></iframe>
                </div>
                <div class="dashboard_cont kali-dash">
                    <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=10" frameborder="0"></iframe>
                </div>          
            <!-- </div> -->
        </div>
        <button onclick="toggleDashboard('kali-dash')">Minimize/Display</button>
        
    </div>

    <div id="host">
        <div class="head_dashboard head_host">
            <h3>App 2</h3>
            <div class="buttons">
                <button type="button" class="btn btn-dark btn-cyb scanButton" onclick="callNmap(2)" disabled>Nmap</button>
                <button type="button" class="btn btn-light btn-cyb scanButton" onclick="callTshark(2)" disabled>Tshark</button>
                <select id="ipSelectNmap2" class="btn-cyb ipSelect" onchange="enableButtons()">
                    <option value="">--Select an IP--</option>
                    <option value="192.168.11.12">192.168.11.12</option>
                    <option value="192.168.12.12">192.168.12.12</option>
                    <option value="192.168.13.12">192.168.13.12</option>
                </select>
                </select>
                <select id="ipSelectTshark2" class="btn-cyb ipSelect" onchange="enableButtons()">
                    <option value="">--Select an IP--</option>
                    <option value="192.168.11.12">192.168.11.12</option>
                    <option value="192.168.12.12">192.168.12.12</option>
                    <option value="192.168.13.12">192.168.13.12</option>
                </select>
                </select>        
                <hr>
                <div id="nmap-output2">
                    <!-- Aquí se mostrará la salida del escaneo de puertos -->
                </div>
                <div id="tsh-output2">
                        <!-- Aquí se mostrará la salida de Tshark -->
                </div>
            </div>
        </div> 
        <div class="dashboard_panel" data-container="app2">
            <div class="dashboard resumen" data-container="app2"> 
                <div style="color:aliceblue">
                    <h5>Metrics summary</h5>
                    <hr>
                    <p class="cpu">CPU:</p>
                    <p class="ram">RAM:</p>
                    <p class="network">Network Traffic:</p>
                    <p class="disk">Disk:</p>
                </div>
            </div>
            <div class="dashboard" data-container="app2">               
                <h5>Alerts and rules</h5>
                <hr>
                <div class="alerts"style="color:aliceblue"data-container="app2">
                    <p class="alerta">Alerta</p>
                </div>
                <hr> 
                <div class="rules"style="color:aliceblue"data-container="app2"> 
                    <p class="regla"></p>
                </div>      
        </div>
            <div class="dashboard_cont debian-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=13" frameborder="0"></iframe>
            </div>
            <div class="dashboard_cont debian-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=5"  frameborder="0"></iframe>
            </div>
            <div class="dashboard_cont debian-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=8"  frameborder="0"></iframe>
            </div>
            <div class="dashboard_cont debian-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=11" frameborder="0"></iframe>
            </div>
        </div>
        <button onclick="toggleDashboard('debian-dash')">Minimize/Display</button>
        
    </div>
    
    <div id="host">
            <div class="head_dashboard head_host">
            <h3>App 3</h3>
            <div class="buttons">
                <button type="button" class="btn btn-light btn-cyb scanButton" onclick="callNmap(3)" disabled>Nmap</button>
                <button type="button" class="btn btn-light btn-cyb scanButton" onclick="callTshark(3)" disabled>Tshark</button>
                <select id="ipSelectNmap3" class="btn-cyb ipSelect" onchange="enableButtons()">
                    <option value="">--Select an IP--</option>
                    <option value="192.168.11.13">192.168.11.13</option>
                    <option value="192.168.12.13">192.168.12.13</option>
                    <option value="192.168.13.13">192.168.13.13</option>
                </select>
                </select>
                <select id="ipSelectTshark3" class="btn-cyb ipSelect" onchange="enableButtons()">
                    <option value="">--Select an IP--</option>
                    <option value="192.168.11.13">192.168.11.13</option>
                    <option value="192.168.12.13">192.168.12.13</option>
                    <option value="192.168.13.13">192.168.13.13</option>
                </select>
                </select>    
                <hr>
                <div id="nmap-output3">
                    <!-- Aquí se mostrará la salida del escaneo de puertos -->
                </div>
                <div id="tsh-output3">
                        <!-- Aquí se mostrará la salida de Tshark -->
                </div>
            </div>
        
        </div> 
        <div class="dashboard_panel" data-container="app3">
            <div class="dashboard resumen" style="color:aliceblue" data-container="app3">            
                    <h5>Metrics summary</h5>
                    <hr>
                    <p class="cpu"> CPU:</p>
                    <p class="ram"> RAM:</p>
                    <p class="network">Network Traffic:</p>
                    <p class="disk">Disk:</p>
            </div>
            <div class="dashboard alert-rules " data-container="app3">           
                <h5>Alerts and rules</h5>
                <hr>
                <div class="alerts"style="color:aliceblue"data-container="app3">
                    <p class="alerta">Alerta</p>
                </div>
                <hr> 
                <div class="rules" style="color:aliceblue"data-container="app3"> 
                    <p class="regla"></p>
                </div>              
            </div>
            <div class="dashboard_cont windows-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=3" frameborder="0"></iframe>
            </div>
            <div class="dashboard_cont windows-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=6" frameborder="0"></iframe>
            </div>
            
            <div class="dashboard_cont windows-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=9" frameborder="0"></iframe>
            </div>
            <div class="dashboard_cont windows-dash">
                <!-- USANDO EMBEBED -->
                <iframe src="http://192.168.1.138:3000/d-solo/cdp7d3f93d7uod/containers?orgId=1&from=now-1h&to=now&panelId=12" frameborder="0"></iframe>
            </div>
        </div>  
        <button onclick="toggleDashboard('windows-dash')">Minimize/Display</button>
            
    </div>    

    <script>
        function toggleDashboard(host) {
            var dashboards = document.getElementsByClassName(host);
            for (var i = 0; i < dashboards.length; i++) {
                var dashboard = dashboards[i];
                if (dashboard.style.display === "none") {
                    dashboard.style.display = "block";
                } else {
                    dashboard.style.display = "none";
                }
            }
        }
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dashboards = document.querySelectorAll('.resumen');
        const alerts = document.querySelectorAll('.alerts');
        const rules = document.querySelectorAll('.rules');

        function fetchMetrics(dashboard, name) {
            console.log(`Fetching metrics for container: ${name}`);
            fetch(`/prom/get_metrics_ca?name=${name}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(`Metrics data for container ${name}:`, data);

                 // Organizar los datos en un formato más accesible
                    const metrics = {
                        cpu: {},
                        ram: {},
                        network: {},
                        disk: {}
                    };

                    // Procesar resultados para cada métrica
                    Object.keys(data).forEach(metricType => {
                        data[metricType].forEach(metric => {
                            const containerName = metric.metric.name;
                            if (!metrics[metricType][containerName]) {
                                metrics[metricType][containerName] = 0;
                            }
                            metrics[metricType][containerName] += parseFloat(metric.value[1]);
                        });
                    });

                    // Crear la tabla
                    createMetricsTable(dashboard, metrics);
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    displayError(dashboard);
                });
        }

        function createMetricsTable(dashboard, metrics) {
            // Crear tabla
            const table = document.createElement('table');
            const header = table.createTHead();
            const headerRow = header.insertRow(0);
            const metricNames = ['Metric', ...Object.keys(metrics.cpu)];
            
            // Crear encabezados de columna
            metricNames.forEach(text => {
                const cell = document.createElement('th');
                cell.innerText = text;
                headerRow.appendChild(cell);
            });

            // Crear filas para cada métrica
            const body = table.createTBody();
            ['cpu', 'ram', 'network', 'disk'].forEach(metricType => {
                const row = body.insertRow();
                const metricCell = row.insertCell();
                metricCell.innerText = metricType.toUpperCase();

                Object.keys(metrics[metricType]).forEach(containerName => {
                    const cell = row.insertCell();
                    const value = metrics[metricType][containerName];
                    cell.innerText = value !== undefined ? value.toFixed(3) + (metricType === 'cpu' || metricType === 'ram' ? '%' : (metricType === 'network' ? ' KB/s' : ' MB')) : 'No data';
                });
            });

            // Agregar tabla al dashboard
            dashboard.innerHTML = '';  // Limpiar contenido previo
            dashboard.appendChild(table);
        }

        function fetchAlerts(dashboard, name) {
            fetch(`/prom/get_container_alerts?name=${name}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    dashboard.querySelector('.alerta').innerText = 'No hay alertas';
                  
            
                        dashboard.querySelector('.alerta').innerText = '';      
                        if (data.alerts && data.alerts.length > 0) {
                            data.alerts.forEach(alert => {
                                //dashboard.querySelector('.alerta').innerText =`Job: ${alert.labels.job}, Severity: ${alert.labels.severity}, Instance: ${alert.labels.instance}`
                                dashboard.querySelector('.alerta').innerText +=`${alert.annotations.summary}, Severity: ${alert.labels.severity},\n`
                                if (alert.labels.severity === 'critical')
                                    dashboard.querySelector('.alerta').style.color="red";                            
                            });
                        } else {
                            dashboard.querySelector('.alerta').innerText = 'No hay alertas';
                            dashboard.querySelector('.alerta').style.color="green";                     
                        }     
                })
                .catch(error => {
                    console.error('Error fetching alerts:', error);
                    if(alerts) dashboard.querySelector('.alerta').innerText = 'Error cargando alertas';
                });
                console.log(`Fetching alerts for host: ${host}`) 
        }
        
        function fetchRules(dashboard, name){
            fetch(`/prom/get_container_rules?name=${name}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })

                .then(data => {
                    console.log(`Rules data for host ${host}:`, data);
                    console.log("Regla ", data.rules[0])
                    if (data.rules && data.rules.length > 0) {
                        data.rules.forEach(group => {
                            group.rules.forEach(rule => {

                            // Crear un nuevo elemento para cada regla
                            const ruleElement = document.createElement('div');
                            ruleElement.classList.add('rule-item');

                            // Construir el contenido de la regla
                            let ruleText = `Name: ${rule.name}<br>State: ${rule.state}<br>Severity: ${rule.labels.severity}`;
                            
                            // Estilizar según la severidad de la alerta
                            if (rule.state === 'firing') {
                                ruleElement.style.color = 'red';
                            }

                            // Asignar el contenido al elemento
                            ruleElement.innerHTML = ruleText;

                            // Añadir el elemento al contenedor
                            dashboard.querySelector('.regla').appendChild(ruleElement);

                            // Añadir <hr> entre reglas
                            const hr = document.createElement('hr');
                            dashboard.querySelector('.regla').appendChild(hr);
                                
                                
                                
                                /*ruletext= `* Name: ${rule.name}\n State: ${rule.state}\n Severity: ${rule.labels.severity}\n`
                                dashboard.querySelector('.regla').innerText += ruletext;     //  
                                if (rule.state === 'firing')
                                    dashboard.querySelector('.regla').style.color="red";
                                */
                            
                                // dashboard.querySelector('.regla').innerHTML += '<hr>';
                                // Añadir el elemento al contenedor
                                //reglaContainer.appendChild(ruleElement);
                            });
                        });
                    } else {
                        dashboard.querySelector('.regla').innerText = 'No hay reglas';
                    }
                
                })
                .catch(error => {
                    console.error('Error fetching rules:', error);
                    if(rules)  dashboard.querySelector('.rules .regla').innerText = 'Error cargando reglas';
                });
                console.log(`Fetching rules for container: ${name}`) 
        }

        dashboards.forEach(dashboard => {
            const name = dashboard.getAttribute('data-container');     
            fetchMetrics(dashboard, name); // Realiza la primera solicitud inmediatamente
            setInterval(() => fetchMetrics(dashboard, name), 60000); // Actualiza cada minuto               
        });

        alerts.forEach(dashboard => {
            const name = dashboard.getAttribute('data-container');           
            fetchAlerts(dashboard, name); // Realiza la primera solicitud inmediatamente     
            setInterval(() => fetchAlerts(dashboard, name), 60000); // Actualiza cada minuto
        });           

        rules.forEach(dashboard => {
            const name = dashboard.getAttribute('data-container');         
            fetchRules(dashboard, name); // Realiza la primera solicitud inmediatamente         
            setInterval(() => fetchRules(dashboard, name), 60000); // Actualiza cada minuto
    
        });
    })
   
</script>


<!-- ================================================================= -->
<script>
    function enableButtons() {
        var selectors = document.getElementsByClassName("ipSelect");
        var buttons = document.getElementsByClassName("scanButton");
        for (var i = 0; i < selectors.length; i++) {
            var selector = selectors[i];
            var button = buttons[i];
            button.disabled = (selector.value === "");
        }
    }
    
    function callNmap(num) {
        var selectedIP = document.getElementById("ipSelectNmap"+ num).value;
        scanNetwork(selectedIP, 'nmap-output' + num);
    }

    function callTshark(num) {
        var selectedIP = document.getElementById("ipSelectTshark"+ num).value;
        getCapturesByIp(selectedIP, 'tsh-output' + num);
    }

    //FUNCIÓN LLAMADA POR EL BOTON DE NMAP 

    function scanNetwork(hostIp, outputDivId) {
        $.ajax({
            url: "{% url 'scan_network' %}",
            type: "GET",
            data: {
                ip: hostIp
            },
        success: function(response) {
            let outputHtml = '';
            if (response.ip) {
                outputHtml += `<h6>Port scan for IP ${response.ip}:</h6> <hr>`;
            }
            if (response.output && response.output.length > 0) {
                outputHtml += '<ul>';
                response.output.forEach(port => {
                    outputHtml += `<li>Port: ${port.port}, State: ${port.state}, Service: ${port.service}</li>`;
                });
                outputHtml += '</ul>';
            } else {
                outputHtml = 'No open ports found.';
            }
            $('#' + outputDivId).html(outputHtml);
            console.log("En ejecución");
        },
            error: function(error) {
                console.error("Nmap Error:", error);
                $('#nmap-output').text('Error ejecutando Nmap');
            }
        });
    }


    //lista de capturas 
    function getCapturesByIp(ip, outputDivId) {
        $.ajax({
            url: "{% url 'get_captures_by_ip'  %}",
            type: 'GET',
            data: {
                ip: ip
            },
            success: function(response) {
                console.log("RESP", response.captures[0].id)
                
                let outputHtml = '';
                if (response.captures) {
                    outputHtml = `<h6>Captures for IP ${ip}:</h6>`;
                        outputHtml += `<table class="captures-table">
                                        <tr>
                                            <th>ID</th>
                                            <th>End Time</th>
                                            <th>Filename</th>
                                            <th>Action</th>
                                        </tr>`;
                                        
                response.captures.slice(0,10).forEach(capture => {
                        outputHtml += `<tr>
                                            <td>${capture.id}</td> 
                                            <td>${capture.start_time}</td>
                                            <td>${capture.filename}</td>
                                            <td><a href="{% url 'download_tshark_capture' %}?id=${capture.id}">Download</a></td>
                                        </tr>`;
                    });
                    outputHtml += `</table>`;
                    $('#' + outputDivId).html(outputHtml);
                } else {
                    $('#' + outputDivId).html(`Error: ${response.error}`);
                }
            },
            error: function(error) {
                console.error('Error:', error);
                print("OBTENIDO:", response)
                $('#' + outputDivId).html('Error retrieving captures');
            }
        });
    }


    function get_table(ip, outputDivId){
        $.ajax({
            url: "{% url 'get_captures_by_ip' %}",
            type: 'GET',
            data: {
                ip: ip
            },
            success: function(response) {
                console.log("RESP", response.captures);

                if (response.captures) {
                    let outputHtml = `<h6>Captures for IP ${ip}:</h6><hr>`;
                    outputHtml += `<table>
                                    <tr>
                                        <th>ID</th>
                                        <th>End Time</th>
                                        <th>Filename</th>
                                        <th>Action</th>
                                    </tr>`;

                    response.captures.forEach(capture => {
                        outputHtml += `<tr>
                                        <td>${capture.id}</td>
                                        <td>${capture.end_time}</td>
                                        <td>${capture.filename}</td>
                                        <td><a href="{% url 'download_tshark_capture' %}?id=${capture.id}">Download</a></td>
                                    </tr>`;
                    });

                    outputHtml += `</table>`;
                    $(`#${outputDivId}`).html(outputHtml);
                } else {
                    $(`#${outputDivId}`).html(`Error: ${response.error}`);
                }
            },
            error: function(error) {
                console.error('Error:', error);
                $(`#${outputDivId}`).html('Error retrieving captures');
            }
        });
    }

</script>


<!-- ============================================================ -->


<script>
    function view_tshark_captures(captureId) {
        const encodedId = encodeURIComponent(captureId);
        const url = "/cyber/tshark/?id=" + encodedId;

        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok: ' + response.statusText);
                }
                return response.blob();
            })
            .then(blob => {
                const link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = `capture_${captureId}.pcap`;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                document.getElementById('output').innerText = "Download started successfully.";
            })
            .catch(error => {
                document.getElementById('output').innerText = "Error downloading capture: " + error;
            });
    }
</script>

{% endblock %}
