<!-- templates/CoreApp/index.html -->
{% extends 'base.html' %}

{% block title %}Inicio - Monitorización sistemas{% endblock %}

{% block content %}
    <h2 class="head_dash">Hosts Monitoring</h2>
    <hr>

    <div id="host">
        <div class="head_host">
            <h3>Kali VM</h3> 
            <div class="buttons">
                <button type="button" class="btn btn-light btn-cyb" onclick="scanNetwork('192.168.1.112','nmap-output2')">Nmap</button>
                <button type="button" class="btn btn-light btn-cyb" onclick="getCapturesByIp('192.168.1.112','tsh-output2')">Tshark</button>
               
                <!-- <button type="button" class="btn btn-light btn-cyb" onclick="downloadTsharkCaptures('fb041f8e9b3e')">Tshark</button>  -->
                <hr>
                <div id="nmap-output2">
                    <!-- Aquí se mostrará la salida del escaneo de puertos -->
                </div>
                <div id="tsh-output2">
                      <!-- Aquí se mostrará la salida de Tshark -->
                </div>
            </div>
        </div>
        <div class="dashboard_panel" data-host="kali">
            
            <div class="dashboard resumen" data-host="kali"> 
                <div style="color:aliceblue">
                    <h5>Metrics summary</h5>
                    <hr>
                    <p class="cpu" style="color: aliceblue;">CPU:</p>
                    <p class="ram">RAM:</p>
                    <p class="network">Network Traffic:</p>
                    <p class="disk">Disk:</p>
                </div>
            </div>

            <div class="dashboard" data-host="kali">                 
                <h5>Alerts and rules</h5>
                <hr>
                <div class="alerts"style="color:aliceblue"data-host="kali">
                    <p class="alerta">Alerta</p>
                </div>
                <hr> 
                <div class="rules"style="color:aliceblue"data-host="kali"> 
                    <p class="regla"></p>
                </div>    
            </div> 
                <div class="dashboard kali-dash"> 
                    <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=kali&var-node=192.168.1.138%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=3" frameborder="0"></iframe>
                </div>
                <div class="dashboard kali-dash">
                    <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=kali&var-node=192.168.1.138%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=24" frameborder="0"></iframe>    
                </div>
                <div class="dashboard kali-dash">
                    <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=kali&var-node=192.168.1.138%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=84" frameborder="0"></iframe>
                </div>
                <div class="dashboard kali-dash">
                    <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=kali&var-node=192.168.1.138%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=156" frameborder="0"></iframe>
                </div>          
        </div>
        <button onclick="toggleDashboard('kali-dash')">Minimizar/Desplegar</button>
        
    </div>

    <div id="host">
        <div class="head_host">
            <h3>Debian VM</h3>
            <div class="buttons">
                <button type="button" class="btn btn-light btn-cyb" onclick="scanNetwork('192.168.1.112','nmap-output2')">Nmap</button>
                <button type="button" class="btn btn-light btn-cyb" onclick="getCapturesByIp('192.168.1.112','tsh-output2')">Tshark</button>
               
                <!-- <button type="button" class="btn btn-light btn-cyb" onclick="downloadTsharkCaptures('fb041f8e9b3e')">Tshark</button>  -->
                <hr>
                <div id="nmap-output2">
                    <!-- Aquí se mostrará la salida del escaneo de puertos -->
                </div>
                <div id="tsh-output2">
                      <!-- Aquí se mostrará la salida de Tshark -->
                </div>
            </div>
        </div> 
        <div class="dashboard_panel" data-host="debianhost">
            <div class="dashboard resumen" data-host="debianhost"> 
                <div style="color:aliceblue">
                    <h5>Metrics summary</h5>
                    <hr>
                    <p class="cpu">CPU:</p>
                    <p class="ram">RAM:</p>
                    <p class="network">Network Traffic:</p>
                    <p class="disk">Disk:</p>
                </div>
            </div>
            <div class="dashboard" data-host="debianhost">               
                <h5>Alerts and rules</h5>
                <hr>
                <div class="alerts"style="color:aliceblue"data-host="debianhost">
                    <p class="alerta">Alerta</p>
                </div>
                <hr> 
                <div class="rules"style="color:aliceblue"data-host="debianhost"> 
                    <p class="regla"></p>
                </div>      
        </div>
            <div class="dashboard debian-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=debianhost&var-node=192.168.1.131%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=3" frameborder="0"></iframe>
            </div>
            <div class="dashboard debian-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=debianhost&var-node=192.168.1.131%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=24" frameborder="0"></iframe>
            </div>
            <div class="dashboard debian-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=debianhost&var-node=192.168.1.131%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=84" frameborder="0"></iframe>
            </div>
            <div class="dashboard debian-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk/node-exporter-full-1?orgId=1&refresh=5m&var-datasource=fdmhghvntne2oe&var-job=debianhost&var-node=192.168.1.131%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=156" frameborder="0"></iframe>
            </div>
        </div>
        <button onclick="toggleDashboard('debian-dash')">Minimizar/Desplegar</button>
        
    </div>
    
    <div id="host">
            <div class="head_host">
            <h3>Windows Host</h3>
            <div class="buttons">
                <button type="button" class="btn btn-light btn-cyb" onclick="scanNetwork('192.168.1.112','nmap-output2')">Nmap</button>
                <button type="button" class="btn btn-light btn-cyb" onclick="getCapturesByIp('192.168.1.112','tsh-output2')">Tshark</button>
               
                <!-- <button type="button" class="btn btn-light btn-cyb" onclick="downloadTsharkCaptures('fb041f8e9b3e')">Tshark</button>  -->
                <hr>
                <div id="nmap-output2">
                    <!-- Aquí se mostrará la salida del escaneo de puertos -->
                </div>
                <div id="tsh-output2">
                      <!-- Aquí se mostrará la salida de Tshark -->
                </div>
            </div>
        </div> 
        <div class="dashboard_panel" data-host="windowshost">
            <div class="dashboard resumen" style="color:aliceblue" data-host="windowshost">            
                    <h5>Metrics summary</h5>
                    <hr>
                    <p class="cpu"> CPU:</p>
                    <p class="ram"> RAM:</p>
                    <p class="network">Network Traffic:</p>
                    <p class="disk">Disk:</p>
            </div>
            <div class="dashboard alert-rules " data-host="windowshost">           
                <h5>Alerts and rules</h5>
                <hr>
                <div class="alerts"style="color:aliceblue"data-host="windowshost">
                    <p class="alerta">Alerta</p>
                </div>
                <hr> 
                <div class="rules" style="color:aliceblue"data-host="windowshost"> 
                    <p class="regla"></p>
                </div>              
            </div>
            <div class="dashboard windows-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/7UlnHoGZy/windows-exporter-dashboard1?orgId=1&refresh=5m&from=now-15m&to=now&panelId=25" frameborder="0"></iframe>
            </div>
            <div class="dashboard windows-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/cdo6wc0enjbi8c/53df162d-9ebd-5af4-8aad-1c66e8f2a6bd?orgId=1&from=now-15m&to=now&panelId=14" frameborder="0"></iframe>
            </div>
            <div class="dashboard windows-dash">
                <iframe src="http://192.168.1.138:3000/d-solo/cdo6wc0enjbi8c/53df162d-9ebd-5af4-8aad-1c66e8f2a6bd?orgId=1&refresh=5m&from=now-15m&to=now&panelId=11" frameborder="0"></iframe>
                <!-- <iframe src="http://192.168.1.138:3000/d-solo/rYdddlPWk-1/node-exporter-full-2?orgId=1&refresh=1m&var-datasource=fdmhghvntne2oe&var-job=kali&var-node=localhost%3A9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&from=now-15m&to=now&panelId=77"  frameborder="0"></iframe>                 -->
            </div>
            <div class="dashboard windows-dash">
                <!-- USANDO EMBEBED -->
                <iframe src="http://192.168.1.138:3000/d-solo/cdo6wc0enjbi8c/53df162d-9ebd-5af4-8aad-1c66e8f2a6bd?orgId=1&from=now-15m&to=now&panelId=15" frameborder="0"></iframe>
            </div>
        </div>  
        <button onclick="toggleDashboard('windows-dash')">Minimizar/Desplegar</button>
            
    </div>    


<script>
    function toggleDashboard(host) {
        var dashboards = document.getElementsByClassName(host);
        for (var i = 0; i < dashboards.length; i++) {
        var dashboard = dashboards[i];
        if (dashboard.style.display === "none") {
            dashboard.style.display = "block";
        } else {
            dashboard.style.display = "none";
        }
    }
    }
</script>

<!-- FUNCIONES PARA RECUPERAR MÉTRICAS, REGLAS Y ALERTAS -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dashboards = document.querySelectorAll('.resumen');
        const alerts = document.querySelectorAll('.alerts');
        const rules = document.querySelectorAll('.rules');

        
        
        function fetchMetrics_ne(dashboard, job, instance) {
            console.log(`Fetching metrics for instance: ${instance}`);
            fetch(`/prom/get_metrics_ne?job=${job}&instance=${instance}`) // No olvidar /dashboards/ del path
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(`Metrics data for instance ${instance}:`, data);
                    dashboard.querySelector('.cpu').innerText = `CPU: ${data.cpu.length > 0 ? parseFloat(data.cpu[0].value[1]).toFixed(3) + '%' : 'No data available'}`;
                    dashboard.querySelector('.ram').innerText = `RAM: ${data.ram.length ? parseFloat(data.ram[0].value[1]).toFixed(3) + '%' : 'No data available'}`;
                    dashboard.querySelector('.network').innerText = `Network: ${data.network.length ? parseFloat(data.network[0].value[1]).toFixed(3) + ' bytes/s' : 'No data available'}`;
                    dashboard.querySelector('.disk').innerText = `Disk: ${data.disk.length ? parseFloat(data.disk[0].value[1]).toFixed(3) + '%' : 'No data available'}`;
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    dashboard.querySelector('.cpu').innerText = 'Error cargando datos';
                    dashboard.querySelector('.ram').innerText = 'Error cargando datos';
                    dashboard.querySelector('.network').innerText = 'Error cargando datos';
                    dashboard.querySelector('.disk').innerText = 'Error cargando datos';
                });
                
                //console.log(`Fetching metrics for host: ${host}`)
        }

        function fetchMetrics_we(dashboard, job, instance) {
            console.log(`Fetching metricfor instance: ${instance}`);
            fetch(`/prom/get_metrics_we?job=${job}&instance=${instance}`) // No olvidar /dashboards/ del path
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(`Metrics data for instance ${instance}:`, data);
                    dashboard.querySelector('.cpu').innerText = `CPU: ${data.cpu.length > 0 ? parseFloat(data.cpu[0].value[1]).toFixed(3) + '%' : 'No data available'}`;
                    dashboard.querySelector('.ram').innerText = `RAM: ${data.ram.length ? parseFloat(data.ram[0].value[1]).toFixed(3) + '%' : 'No data available'}`;
                    dashboard.querySelector('.network').innerText = `Network: ${data.network.length ? parseFloat(data.network[0].value[1]).toFixed(3) + ' bytes/s' : 'No data available'}`;
                    dashboard.querySelector('.disk').innerText = `Disk: ${data.disk.length ? parseFloat(data.disk[0].value[1]).toFixed(3) + '%' : 'No data available'}`;
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    dashboard.querySelector('.cpu').innerText = 'Error cargando datos';
                    dashboard.querySelector('.ram').innerText = 'Error cargando datos';
                    dashboard.querySelector('.network').innerText = 'Error cargando datos';
                    dashboard.querySelector('.disk').innerText = 'Error cargando datos';
                });
                //console.log(dashboard)
                console.log(`Fetching metrics for host: ${host}`)
        }



        function fetchAlerts(dashboard, job, instance) {
            fetch(`/prom/get_alerts?job=${job}&instance=${instance}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(`Alerts data ${instance}:`, data);   
                    dashboard.querySelector('.alerta').innerText = '';      
                        if (data.alerts && data.alerts.length > 0) {
                            data.alerts.forEach(alert => {
                                //dashboard.querySelector('.alerta').innerText =`Job: ${alert.labels.job}, Severity: ${alert.labels.severity}, Instance: ${alert.labels.instance}`
                                dashboard.querySelector('.alerta').innerText +=`${alert.annotations.summary}, Severity: ${alert.labels.severity},\n`
                                if (alert.labels.severity === 'critical')
                                    dashboard.querySelector('.alerta').style.color="red";
                                
                            });
                        } else {
                            dashboard.querySelector('.alerta').innerText = 'No hay alertas';
                            dashboard.querySelector('.alerta').style.color="green";
                        
                        }      
                })
                .catch(error => {
                    console.error('Error fetching alerts:', error);
                    if(alerts) dashboard.querySelector('.alerta').innerText = 'Error cargando alertas';
                });
                //console.log(dashboard)               //console.log(alerts)
                console.log(`Fetching alerts for host: ${host}`) 
        }
        
        function fetchRules(dashboard, job, instance){
            fetch(`/prom/get_rules?job=${job}&instance=${instance}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })

                .then(data => {
                    dashboard.querySelector('.regla').innerText = '';

                    if (data.rules && data.rules.length > 0) {
                        data.rules.forEach(group => {
                            group.rules.forEach(rule => {

                            // Crear un nuevo elemento para cada regla
                            const ruleElement = document.createElement('div');
                            ruleElement.classList.add('rule-item');

                            // Construir el contenido de la regla
                            let ruleText = `Name: ${rule.name}<br>State: ${rule.state}<br>Severity: ${rule.labels.severity}`;
                            
                            // Estilizar según la severidad de la alerta
                            if (rule.state === 'firing') {
                                ruleElement.style.color = 'red';
                            }

                            // Asignar el contenido al elemento
                            ruleElement.innerHTML = ruleText;

                            // Añadir el elemento al contenedor
                            dashboard.querySelector('.regla').appendChild(ruleElement);

                            // Añadir <hr> entre reglas
                            const hr = document.createElement('hr');
                            dashboard.querySelector('.regla').appendChild(hr);
                            });
                        });
                    } else {
                        dashboard.querySelector('.regla').innerText = 'No hay reglas';
                    }
                
                })
                
                .catch(error => {
                    console.error('Error fetching rules:', error);
                    if(rules)  dashboard.querySelector('.rules .regla').innerText = 'Error cargando reglas';
                });
                //console.log(dashboard)
                //console.log(rules)
                console.log(`Fetching rules for host: ${host}`) 
        }

        dashboards.forEach(dashboard => {
            const instance = dashboard.getAttribute('data-instance'); 
            const job = dashboard.getAttribute('data-job');
            fetchMetrics_ne(dashboard, job, instance); // Realiza la primera solicitud inmediatamente
            setInterval(() => fetchMetrics_ne(dashboard, job, instance), 60000); // Actualiza cada minuto               
        });

        alerts.forEach(dashboard => {
            const instance = dashboard.getAttribute('data-instance'); 
            const job = dashboard.getAttribute('data-job');       
            fetchAlerts(dashboard, job, instance); // Realiza la primera solicitud inmediatamente     
            setInterval(() => fetchAlerts(dashboard, job, instance), 60000); // Actualiza cada minuto
        });           

        rules.forEach(dashboard => {
            const instance = dashboard.getAttribute('data-instance'); 
            const job = dashboard.getAttribute('data-job'); 
            fetchRules(dashboard, job, instance); // Realiza la primera solicitud inmediatamente         
            setInterval(() => fetchRules(dashboard, job, instance), 60000); // Actualiza cada minuto
    
        });
    })
</script>

{% endblock %}
