:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-background-color: #f0f0f0;
    --button-text-color: #000000;
    --border-color: #ccc;
    --primary-background-color: #ffffff; /* Cambiado a blanco */
    --primary-text-color: #000000;
    --secondary-background-color: #f0f0f0; /* Cambiado a un tono más claro */
    --secondary-text-color: #000000;
}

body.dark-mode {
    --background-color: #000000;
    --text-color: #ffffff;
    --button-background-color: #333333;
    --button-text-color: #ffffff;
    --border-color: #555555;
    --primary-background-color: #1e1e20; /* Fondo oscuro */
    --primary-text-color: #ffffff;
    --secondary-background-color: #333333; /* Fondo más oscuro */
    --secondary-text-color: #dddddd;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /*altura de un elemento en función de la altura del viewport 
                   (la ventana visible del navegador)*/
    display: flex;
    flex-direction: column;
}

button#mode-toggle {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.nav-brand{
    font-size: 30px;
}
#image {
    background-color: black;
    align-items: center;
    text-align: center;
    margin:auto;
}

#image img{
    display:inline-block;
    width: 100%;
}

.menu{
    margin: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.min-des{
    width: 98%;
    margin: auto;
}

.menu div {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.menu button{
    width: 150px;
    height: 60px;
    margin: 10px;
 
}
.sub-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 10px 0; 
}

h5{
    margin:5px;
}

#content{
    background-color: var(--primary-background-color);
    /* min-height: 700px; */
    background-color:black;
    /*height: 85vh;*/
    width: 100%;
    padding: 0;
}

.head_dash{
    padding: 10px;
    color:aliceblue;
}
.buttons{
    flex-flow: row;
}
#hosts_content{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 0;
    align-items: stretch;
    justify-content: space-between;
    background-color:black;
    width: 100%;
    /* flex-flow: row wrap; Lo mismo que las dos siguientes lineas */
    /*flex-direction: row;
    flex-wrap: wrap;*/
}

#host{
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
    padding: 0;
    padding-bottom: 5px;
    flex:1;
    background-color:#1e1e20;
    justify-content: space-around;
    
  
}
.head_host{
    border-color: #1e1e20;
    border-style: double;
    color:aliceblue;
    padding: 10px;
}
.dashboard_panel{
    display: flex;
    justify-items: left;
    margin: 5px;
}


.dashboard_panel_energy{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    justify-items: left;
    width: 100%;
    margin: 5px;
}

.head_dashboard{
    flex:1 1 100%;
    background-color:black;
    height: 10px;
    padding-top: 0;
    height: 0;
    /*padding-bottom: 25%; /* Aspect ratio 16:9 */
    position: relative;
    margin: 1%;
    color:aliceblue;
    padding: 10px;

}
#kali-vm{
    margin: 0;
    padding: 0;
    display: flex !important;
    flex-flow: row wrap;
    justify-items: left;
}

.sub-dashboard{
    padding: 10px;
    flex:1 1 100%;
    background-color: black;
    padding-top: 0;
    height: 0;
    width: 100%;
    position: relative;
    color:aliceblue
}

.dashboard, .dashboard_cont{
    padding: 10px;
    background-color: black;
    max-width: calc(50% - 20px); 
    min-height: 200px;
    flex:1 1 30%;
    padding-top: 0;
    height: 0;
    padding-bottom: 25%; /* Aspect ratio 16:9 */
    position: relative;
    margin: 1%;
    color:aliceblue
}

.dashboard, .dashboard_cont{
    padding: 10px;
    background-color: black;
    max-width: calc(50% - 20px); 
    min-height: 200px;
    flex:1 1 30%;
    padding-top: 0;
    height: 0;
    padding-bottom: 25%; /* Aspect ratio 16:9 */
    position: relative;
    margin: 1%;
    color:aliceblue
}

.dashboard_cont iframe{
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    width: 133%; 
    height: 133%; 
    transform: scale(0.75); 
    transform-origin: 0 0;
}

.dashboard_energy{
    padding: 10px;
    background-color: black;
    width: calc(100% - 20px); 
    min-height: 200px;
    /* flex:1 1 30%; */
    padding-top: 0;
    height: 0;
    /* width: 100%; */
    padding-bottom: 25%; /* Aspect ratio 16:9 */
    position: relative;
    margin: 1%;
    color:aliceblue
}

/* Estilo por defecto para pantallas más grandes */
.resumen p {
    margin:5px;
    font-size: 16px;
    line-height: 1.5;
}

.section-help{
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.active {
    background-color: green;
    color: white;
}
.inactive {
    background-color: red;
    color: white;
}
.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
.indicator.active {
    background-color: green;
}
.indicator.inactive {
    background-color: red;
}
.alerts p{
    margin:5px;
    font-size: 16px;
}
.rules p{
    margin:5px;
    font-size: 16px;
  
}

.btn-cyb{
    width: calc(50% - 10px);
}

.btn-cyb-ai{
    width: calc(50% - 10px);
    margin-bottom: 5px;
}
#nmap-output1 {
    width: calc(50% - 10px);
    min-width: 350px;
}
.p {
    width: 100%; 
    margin: 0 auto;
    text-align: center;
}

/* Media query para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
    .resumen p{
        font-size: 12px;
        line-height: 1.2;
    }

    .alerts p{
        font-size: 12px;
    }

    .rules p{ 
        font-size: 12px;
    }
}
.dashboard iframe{
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    width: 150%; 
    height: 150%; 
    transform: scale(0.67);
    transform-origin: 0 0;
}

.dashboard_energy iframe{
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    width: 150%;
    height: 150%; 
    transform: scale(0.67); 
    transform-origin: 0 0; 
}

.fix{
    position: sticky;
    top:0;
    z-index: 1000;
}

/* Para pantallas grandes (desktop) */
@media (min-width: 1024px) {
    #hosts_content {
      
    }

    #host {
        flex: 1 1 calc(33.333% - 40px); /* Ajusta el tamaño para mostrar 3 columnas con márgenes */
    }
    #nmap-output1 {
        width: calc(50% - 10px);
        min-width: 350px;
    }
}

/* Para tablets (pantallas medianas) */
@media (min-width: 768px) and (max-width: 1023px) {
    #hosts_content {
    
    }
    .dashboard_panel{
        
    }
    .dashboard, .dashboard_cont {
        /* flex:1 1 100%; */
        
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin: 5px;
    }

    .dashboard iframe{
        width: 200%; 
        height: 200%; 
        transform: scale(0.5);
        transform-origin: 0 0;
    }
}

/* Para móviles (pantallas pequeñas) */
@media (max-width: 767px) {
    #hosts_content {
    
    }
    .dashboard_panel{
        
    }
    .dashboard, .dashboard_cont{     
        flex: 1 1 calc(50% - 10px);  /* Ajusta el tamaño para mostrar 2 columnas con márgenes */
        max-width: calc(50% - 10px);
        margin: 5px;
    }

    .dashboard iframe{
        width: 200%; 
        height: 200%;
        transform: scale(0.5);
        transform-origin: 0 0;
    } 
}

main {
    flex:1;
    /* border-radius: 10px; */
} 

.captures-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.captures-table th, .captures-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.captures-table th {
    background-color: #333;
    color: white;
}

.captures-table td {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.captures-table th:nth-child(1), .captures-table td:nth-child(1) {
    width: 20%; 
}

.captures-table th:nth-child(2), .captures-table td:nth-child(2) {
    width: 20%; 
}

.captures-table th:nth-child(3), .captures-table td:nth-child(3) {
    width: 40%; 
}

.captures-table th:nth-child(4), .captures-table td:nth-child(4) {
    width: 20%;
}

footer {
    height: 50px;
    width: 100%;
    /* min-width: 1050px; */
    text-align: center;
    color: white;
    padding-top: 10px;
    /*Usamos posición static (por defecto), pues sigue el flujo natural de posicionamiento*/
    bottom: 0;
    margin: 0;
    /*Cuidado, al añadir borde, como el ancho era del 100%, esto añadia un scroll horizontal: */
    /*border: 2px solid black;*/
    background-color: #1e1e20;
}

