*/5 * * * * /usr/local/bin/stress-ng-script.sh >> /var/log/stress-ng-script.log 2>&1
*/5 * * * * /usr/local/bin/iperf3_script.sh >> /var/log/iperf3-script.log 2>&1
*/5 * * * * /usr/local/bin/upload_to_cloudshark.sh >> /var/log/upload_to_cloudshark.log 2>&1
